* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: #F2B6A0;
  justify-content: end;
}
header .navbar {
  background-color: #F2B6A0;
  font-family: "Raleway";
}
header .navbar .active {
  font-weight: 900;
}

.banner-cinco, .banner-dos, .banner-cuatro, .banner-tres, .banner-uno {
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: #F8EAD8;
  background-size: cover;
  background-position: center;
  display: flex;
  margin-top: 0px;
  border: none;
  padding: none;
  background-size: cover;
}
.banner-cinco .banner-content, .banner-dos .banner-content, .banner-cuatro .banner-content, .banner-tres .banner-content, .banner-uno .banner-content {
  margin: 80px;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #F8EAD8;
  font-weight: bold;
  font-family: "Darumadrop One";
  font-size: 30px;
  -webkit-text-stroke: #F2B6A0 1px;
}

.banner-uno {
  background-image: url(../images-videos/cerdo-hocico-banner.jpg);
}

.primeras-palabras, .segundas-palabras {
  font-family: "Sen";
  font-size: 30px;
  display: flex;
  margin: 5%;
  text-align: justify;
}

.video {
  display: flex;
  justify-content: center;
}

.tres-imagenes {
  display: flex;
  padding: none;
  background-position: center;
  justify-content: center;
  align-items: center;
}
.tres-imagenes img {
  margin: 5px 5px;
  border-radius: 10%;
  width: 30%;
}

.banner-tres {
  background-image: url(../images-videos/ternero-banner.png);
}

.main-dos {
  font-family: "Sen";
  font-size: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.main-dos .nuestra {
  font-size: 200%;
  padding: 20px;
  font-family: "Darumadrop One";
  color: #E06469;
  text-shadow: 1px 1px 2px black;
}
.main-dos .img-grande {
  width: 60%;
}
.main-dos .text-uno {
  padding: 3%;
  text-align: justify;
  margin: 0 5%;
}
.main-dos .text-uno .ear {
  color: #E06469;
  text-decoration-style: wavy;
}
.main-dos .imagenes-chicas {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
.main-dos .imagenes-chicas .img-chica {
  width: 33%;
  border-radius: 10%;
}
.main-dos .text-dos {
  padding: 2%;
  text-align: justify;
  margin: 0 5%;
}
.main-dos .text-dos .guilu {
  color: #E06469;
  text-align: end;
}
.main-dos .text-dos .santucoco {
  text-shadow: 1px 1px 2px #E06469;
  color: #F2B6A0;
}

.banner-cuatro {
  background-image: url(../images-videos/gallinas-banner.png);
}

.main-residentes {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 400px 300px 300px 400px;
  grid-template-areas: "foto1 texto1 ." ". texto2 foto2" "foto3 texto3 ." ". texto4 foto4";
  padding: 40px 150px;
  justify-items: center;
  align-items: center;
  font-family: "Sen";
  font-size: 150%;
  background-image: url(../images-videos/corazonDos.png);
}
.main-residentes img {
  width: 100%;
  border-radius: 70%;
}
.main-residentes .vacas-r {
  grid-area: foto1;
}
.main-residentes .cabras-r {
  grid-area: foto2;
}
.main-residentes .cerdos-r {
  grid-area: foto3;
}
.main-residentes .gallinas-r {
  grid-area: foto4;
}
.main-residentes .vacas-r-texto {
  grid-area: texto1;
  padding: 5%;
  text-align: left;
}
.main-residentes .cabras-r-texto {
  grid-area: texto2;
  padding: 5%;
  text-align: right;
}
.main-residentes .cerdos-r-texto {
  grid-area: texto3;
  padding: 5%;
  text-align: left;
}
.main-residentes .gallinas-r-texto {
  grid-area: texto4;
  padding: 5%;
  text-align: right;
}

.banner-dos {
  background-image: url(../images-videos/cerdos-banner.png);
}

.involu {
  display: flex;
  justify-content: center;
  padding: 100px 60px;
  background-image: url(../images-videos/animal.png);
  height: 700px;
}
.involu .card {
  width: 30%;
}
.involu .card .fotoCard {
  height: 40%;
  width: 100%;
  object-fit: cover;
}
.involu .card .card-body .card-title {
  color: #E06469;
  font-size: 150%;
}
.involu .card .card-body .card-text {
  text-align: justify;
}
.involu .card .card-body .btn {
  background-color: #E06469;
  border: #E06469;
}
.involu .card .card-body .transicion {
  transition: 1s;
}
.involu .card .card-body .transicion:hover {
  color: #F2B6A0;
  font-weight: 900;
  transform: scale(1.5);
}

.banner-cinco {
  background-image: url(../images-videos/cabra-banner.png);
}

.visit {
  color: #E06469;
  font-weight: 700;
  background-image: url(../images-videos/floresFondooo.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.visitaa {
  display: flex;
  align-items: center;
  font-size: 110%;
  text-align: justify;
}

.iframeVis {
  margin-left: 20px;
}

.cuaBody {
  background-image: url(../images-videos/error2.png);
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuaBody img {
  border: 20px dotted #E06469;
  animation: shake 0.5s infinite;
}
.cuaBody p {
  font-family: "Darumadrop One";
  font-size: 300%;
  color: #E06469;
  text-shadow: black 0.1em 0.1em 0.2em;
  padding-right: 50px;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate(-10px, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate(10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
footer {
  background-color: #F2B6A0;
  display: flex;
  padding: 5px;
  font-family: "Raleway";
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: black;
}
footer .footerUno {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: center;
  font-size: 130%;
}
footer .footerUno .contacto {
  text-decoration: underline;
  text-align: center;
}
footer .footerUno .mailWasap {
  width: 40px;
  color: #E06469;
}
footer .footerDos {
  text-align: center;
  font-size: 150%;
}
footer .footerDos .seguinos {
  text-decoration: underline;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 140%;
  }
  .primeras-palabras, .segundas-palabras {
    font-size: 150%;
  }
  .elVideo {
    width: 100%;
    height: 100%;
  }
  .segundas-palabras {
    font-size: 150%;
  }
  .tres-imagenes {
    flex-direction: column;
  }
  .tres-imagenes .img-uno {
    padding: 3px 0;
    margin: 0;
  }
  .tres-imagenes img {
    width: 75%;
  }
  .visit {
    padding: 20px;
  }
  .visitaa {
    padding: 20px 50px;
    flex-direction: column;
  }
  .visitaa .iframeVis {
    margin-top: 10px;
  }
  .main-dos .imagenes-chicas {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-dos .imagenes-chicas .img-chica {
    width: 85%;
  }
  .main-residentes {
    grid-template-columns: 100%;
    grid-template-rows: 200px 320px 200px 360px 200px 400px 200px 450px;
    grid-template-areas: "foto1" "texto1" "foto2" "texto2" "foto3" "texto3" "foto4" "texto4";
    padding: 30px 10px 10px 10px;
  }
  .main-residentes img {
    width: 60%;
    padding: 10px;
  }
  .main-residentes .vacas-r-texto {
    text-align: justify;
  }
  .main-residentes .cabras-r-texto {
    text-align: justify;
  }
  .main-residentes .cerdos-r-texto {
    text-align: justify;
  }
  .main-residentes .gallinas-r-texto {
    text-align: justify;
  }
  .banner-tres {
    background-image: url(../images-videos/ternero-mobile.jpg);
  }
  .nuestra {
    text-align: center;
    padding: 0;
  }
  .main-dos .img-grande {
    width: 90%;
  }
  .involu {
    flex-direction: column;
    padding: 10px;
    height: 1800px;
    align-items: center;
  }
  .involu .card {
    width: 90%;
  }
  .involu .cardVacas {
    height: 175px;
  }
  .involu .cardChancho {
    height: 220px;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 250px;
  }
  footer .footerUno {
    font-size: 100%;
    padding: 0;
    margin: 0;
  }
  footer .footerUno .contacto {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  footer .iframe {
    display: none;
  }
  .footerDos .seguinos {
    font-size: 20px;
    padding-top: 10px;
  }
  .footerDos .redes .fa.fa-facebook, .footerDos .redes .fa-instagram, .footerDos .redes .fa-twitter, .footerDos .redes .fa-youtube {
    padding: 0px 10px;
  }
  .cuaBody {
    background-image: url(../images-videos/error.png);
    flex-direction: column;
    height: 650px;
  }
  .cuaBody img {
    width: 60%;
  }
  .cuaBody p {
    text-align: center;
    font-size: 250%;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 999px) {
  .main-residentes {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    grid-template-areas: "foto1 texto1 texto1" "texto2 texto2 foto2" "foto3 texto3 texto3" "texto4 texto4 foto4";
    padding: 40px 80px;
  }
  .involu {
    flex-direction: column;
    padding: 10px;
    height: 2000px;
    align-items: center;
  }
  .involu .card {
    width: 90%;
    height: 650px;
  }
  .involu .card .fotoCard {
    height: 400px;
  }
  .row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 280px;
    grid-template-areas: "visit visit" "visitaa fotoVisita";
    padding: 0 20px;
  }
  .row .visit {
    grid-area: visit;
    width: 100%;
  }
  .row .visitaa {
    grid-area: visitaa;
    width: 100%;
  }
  .row .fotoVisita {
    grid-area: fotoVisita;
    width: 100%;
    margin: auto;
    display: block;
  }
  .main-dos .img-grande {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
