footer {
    background-color: $rosaClaro;
    display: flex;
    padding: 5px;
    font-family: $fuenteHeaderFooter;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;

    a {
        text-decoration: none;
        color: black;
    }

    .footerUno {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        justify-content: center;
        align-items: center;
        font-size: 130%;

        .contacto {
            text-decoration: underline;
        }

        .mailWasap {
            width: 40px;
            color: $rosaOscuro;
        }
    }

    .footerDos {
        text-align: center;
        font-size: 150%;

        .seguinos {
            text-decoration: underline;
        }
    }
}