/* MEDIA QUERIES */

@media only screen and (max-width: 480px) {

    //  INDEX
    h1 {
        font-size: 140%;
    }

    .primeras-palabras {
        font-size: 150%;
    }

    .elVideo {
        width: 100%;
        height: 100%;
    }

    .segundas-palabras {
        font-size: 150%;
    }

    .tres-imagenes {
        flex-direction: column;

        .img-uno {
            padding: 3px 0;
            margin: 0;
        }

        img {
            width: 75%;
        }
    }

    // VISITA

    .visit {
        padding: 20px;
    }

    .visitaa {
        padding: 20px 50px;
        flex-direction: column;

        .iframeVis {
            margin-top: 10px;
        }
    }

    .main-dos {

        .imagenes-chicas {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .img-chica {
                width: 85%;
            }
        }
    }

    // RESIDENTES
    .main-residentes {
        grid-template-columns: 100%;
        grid-template-rows: 200px 320px 200px 360px 200px 400px 200px 450px;
        grid-template-areas:
            'foto1'
            'texto1'
            'foto2'
            'texto2'
            'foto3'
            'texto3'
            'foto4'
            'texto4'
        ;
        padding: 30px 10px 10px 10px;

        img {
            width: 60%;
            padding: 10px;
        }

        .vacas-r-texto {
            text-align: justify;
        }

        .cabras-r-texto {
            text-align: justify;
        }

        .cerdos-r-texto {
            text-align: justify;
        }

        .gallinas-r-texto {
            text-align: justify;
        }
    }


    // NUESTRA HISTORIA
    .banner-tres {
        background-image: url(../images-videos/ternero-mobile.jpg);
    }

    .nuestra {
        text-align: center;
        padding: 0;
    }

    .main-dos .img-grande {
        width: 90%;
    }

    //INVOLUCRATE
    .involu {
        flex-direction: column;
        padding: 10px;
        height: 1800px;
        align-items: center;

        .card {
            width: 90%;
        }

        .cardVacas {
            height: 175px;
        }

        .cardChancho {
            height: 220px;
        }
    }

    // FOOTER 

    footer {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        height: 250px;

        .footerUno {
            font-size: 100%;
            padding: 0;
            margin: 0;

            .contacto {
                font-size: 20px;
                padding: 0;
                margin: 0;
            }
        }

        .iframe {
            display: none;
        }
    }

    .footerDos {
        .seguinos {
            font-size: 20px;
            padding-top: 10px;
        }

        .redes {
            .fa.fa-facebook, .fa-instagram, .fa-twitter, .fa-youtube {
                padding: 0px 10px;
            }

        }
    }

    // 404------------------------
    .cuaBody {
        background-image: url(../images-videos/error.png);
        flex-direction: column;
        height: 650px;

        img {
            width: 60%;
        }

        p {
            text-align: center;
            font-size: 250%;
            padding-bottom: 20px;
        }
    }


}


// tablet -----------------------------------------

@media only screen and (min-width: 481px) and (max-width: 999px) {

    //residentes
    .main-residentes {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 400px 400px;
        grid-template-areas:
            'foto1 texto1 texto1'
            'texto2 texto2 foto2'
            'foto3 texto3 texto3'
            'texto4 texto4 foto4';
        padding: 40px 80px;

    }


    //involucrate
    .involu {
        flex-direction: column;
        padding: 10px;
        height: 2000px;
        align-items: center;

        .card {
            width: 90%;
            height: 650px;

            .fotoCard {
                height: 400px;
            }
        }
    }

    // visitas
    .row {

        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 100px 280px;
        grid-template-areas:
            'visit visit'
            'visitaa fotoVisita'
        ;
        padding: 0 20px;

        .visit {
            grid-area: visit;
            width: 100%;
        }

        .visitaa {
            grid-area: visitaa;
            width: 100%;
        }

        .fotoVisita {
            grid-area: fotoVisita;
            width: 100%;
            margin: auto;
            display: block;
        }

    }

    //nosotros


    .main-dos .img-grande {
        width: 80%;
    }

}